<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<!--<div th:insert="~{fragments/common-fragments :: scripts}"></div>-->
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <h2>Add Perfume</h2>
                    <form method="post" action="/admin/add/perfume">
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id">
                        </div>
                        <div class="form-group">
                            <label for="perfume">Perfume</label>
                            <input type="text" class="form-control" id="perfume">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    add perfumes
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>