<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<!--<div th:insert="~{fragments/common-fragments :: scripts}"></div>-->
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Perfumer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${perfumes}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.perfumer}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>